apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
type: Opaque
data:
  CLI_PASSWORD: {{ .Values.cli_password | b64enc | quote }}
  SRV_PASSWORD: {{ .Values.srv_password | b64enc | quote }}
