apiVersion: v1
kind: Pod
metadata:
  name: task-manager-api
  labels:
    app: task-manager
    service: api
spec:
  securityContext:
    runAsUser: 1000
  containers:
  - name: api
    image: 192.168.56.12:5000/task-manager-api:latest
    securityContext:
      readOnlyRootFilesystem: true
    resources:
      requests:
        memory: "128Mi"
        cpu: "250m"
      limits:
        memory: "256Mi"
        cpu: "500m"
    ports:
    - containerPort: 5000
    env:
    - name: REDIS_HOST
      value: "db"
    - name: REDIS_PASSWORD
      valueFrom:
        secretKeyRef:
          name: task-manager-secret
          key: cli-password
---
apiVersion: v1
kind: Service
metadata:
  name: api
spec:
  selector:
    service: api
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
  type: ClusterIP
