apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-manager-frontend
  labels:
    app: task-manager
    service: frontend
spec:
  replicas: 3
  selector:
    matchLabels:
      service: frontend
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        service: frontend
    spec:
      containers:
      - name: frontend
        image: 192.168.56.12:5000/task-manager-frontend:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    service: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
