services:
  go-app:
    container_name: go-app
    image: go-app
    ports:
      - "8080:8080"
    depends_on:
      - redis-db
    networks:
      - app-network
      
  redis-db:
    container_name: redis-db
    image: redis:latest
    ports:
      - '6379:6379'
    networks:
      - app-network

networks:
  app-network:
    driver: bridge