services:
  redis:
    image: redis:8.4.0-alpine
    container_name: ${PROJECT_NAME}-redis
    networks:
      - task-manager-network

  api:
    image: ${REGISTRY_URL}/task-manager-api:${API_TAG:-latest}
    container_name: ${PROJECT_NAME}-api
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
    networks:
      - task-manager-network

  monitor:
    image: ${REGISTRY_URL}/task-manager-monitor:${MONITOR_TAG:-latest}
    container_name: ${PROJECT_NAME}-monitor
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
    networks:
      - task-manager-network

  frontend:
    image: ${REGISTRY_URL}/task-manager-frontend:${FRONTEND_TAG:-latest}
    container_name: ${PROJECT_NAME}-frontend
    ports:
      - "${FRONTEND_PORT:-80}:80"
    depends_on:
      - redis
      - monitor
    networks:
      - task-manager-network

  archiver:
    image: ${REGISTRY_URL}/task-manager-archiver:${ARCHIVER_TAG:-latest}
    container_name: ${PROJECT_NAME}-archiver
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
    networks:
      - task-manager-network

networks:
  task-manager-network:
    driver: bridge
