services:
  # Infrastructure
  redis:
    image: redis:8.4.0-alpine
    container_name: task-manager-redis
    networks:
      - task-manager
  # Python API Service
  api:
    image: 192.168.56.12:5000/task-manager-api:latest
    container_name: task-manager-api
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
    networks:
      - task-manager
  # Go Monitor Service
  monitor:
    image: 192.168.56.12:5000/task-manager-monitor:latest
    container_name: task-manager-monitor
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
    networks:
      - task-manager
  # Frontend Service (Nginx)
  frontend:
    image: 192.168.56.12:5000/task-manager-frontend:${FRONTEND_TAG:-latest}
    container_name: task-manager-frontend
    ports:
      - "80:80"
    depends_on:
      - redis
      - monitor
    networks:
      - task-manager
  # Java Archiver Service
  archiver:
    image: 192.168.56.12:5000/task-manager-archiver:latest
    container_name: task-manager-archiver
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
    networks:
      - task-manager

networks:
  task-manager:
    driver: bridge
